.today {
  width: 100%;
  border: 1px solid #e9f1f3;
  background-color: #eef4f6;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  gap: 40px;

  &__main {
    width: 100%;
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__temp,
  &__temp-range,
  &__wind {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
  }

  &__temp-fact {
    font-size: 2.5rem;
  }

  &__temp-feels-like,
  &__temp-yesterday {
    font-size: 1rem;
    color: gray;
  }

  &__temp-range,
  &__wind {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-size: 0.7rem;
    color: gray;
    text-align: center;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__temp-min,
  &__temp-max,
  &__wind-speed,
  &__wind-dir {
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
  }
}
